<div class="flex justify-content-center align-content-center h-full p-4">
  <p-card header="Todo list" class="w-6">
    <div class="grid mb-4">
      <div class="col">
        <input
          type="text"
          pInputText
          [(ngModel)]="taskDesc"
          class="w-full"
          placeholder="Enter new task"
          #taskInput="ngModel"
          required
        />
      </div>
      <div class="col">
        <p-button
          icon="pi pi-check"
          (click)="addTask()"
          [disabled]="!!taskInput.invalid"
        ></p-button>
      </div>
    </div>
    <p-table [value]="todoList">
      <ng-template pTemplate="header">
        <tr>
          <th>Description</th>
          <th>Completed</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-task>
        <tr>
          <td>{{ task.description }}</td>
          <td>
            <p-checkbox
              [(ngModel)]="task.completed"
              [binary]="true"
              (onChange)="updateTaskStatus($event, task)"
            ></p-checkbox>
          </td>
          <td>
            <p-button
              icon="pi pi-trash"
              styleClass="p-button-danger"
              (click)="deleteTask(task.id)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
